body{
    background-color: #E3E3E3;
    margin: 0px;
    padding: 0px;
}
.meni{
    text-align: center;
    height: 25%;
    max-width: 650px;
    margin: 10px auto auto auto;
}
.meni ul{
    display: block;
    background-color: #C9E3E7;
    margin: 0px auto auto auto;
    padding: 40px 10px 10px 10px;
    list-style: none;
}
.meni li{
    display: inline;
    padding: 7px;
}
.meni a{
    color: #190788;
}
.aktivniTab{
  text-decoration: none;
}
.logo{
    margin: 0px;
    padding: 0px;
}
.logo img{
    height: 60px;
    width: 60px;
    margin: 0% 45% -30px 43%;
}
.sadrzaj{
    background-color: #C9E3E7;
    max-width: 650px;
    margin: 10px auto auto auto;
}
.sadrzaj ul{
    list-style-type: square;
    font-size: 20px;
}
