body{
    background-color: #E3E3E3;
    margin: 0px;
    padding: 0px;
}
.meni{
    text-align: center;
    height: 25%;
    max-width: 650px;
    margin: 10px auto auto auto;
}
.meni ul{
    display: block;
    background-color: #C9E3E7;
    margin: 0px auto auto auto;
    padding: 40px 10px 10px 10px;
    list-style: none;
}
.meni li{
    display: inline;
    padding: 7px;
}
.meni a{
    color: #190788;
}
.aktivniTab{
  text-decoration: none;
}
.logo{
    margin: 0px;
    padding: 0px;
}
.logo img{
    height: 60px;
    width: 60px;
    margin: 0% 45% -30px 43%;
}
.galerija{
  text-align: center; 
  background-color: #C9E3E7;
  max-width: 650px;
  margin: 10px auto auto auto;
}
  .galerija::after{
      display: grid;
      content: "";
      clear: both;
  }
  .slika img{
      width: 202px;
      height:202px;
  }
  .slika {
    display: block;
    text-align: center;
    padding: 5px;
    float: left;
    width:31%;
  }
  .button{
    border: 2px solid #190788;
    color: #190788;
    background-color: #85A2E0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    float: left;
    width: 80px;
    cursor: pointer; 
}
.desni{
    float: right;
}
.button:hover{
    border: 3px solid #190788;
}
.pocisti{
clear: both;
}
@media only screen and (max-width: 800px) {
    .slika {
      width:45%;
    }
  }
@media only screen and (max-width: 600px) {
  .meni li{
    display: block;
  }
  .slika {
    padding: 0px;
    width: 100%;
  }
  .slika img{
   transform: scale(0.8);
  }
}
