body{
    background-color: #E3E3E3;
    margin: 0px;
    padding: 0px;
}
.meni{
    max-width: 650px;
    text-align: center;
    height: 25%;
    margin: 10px auto auto auto;
}
.meni ul{
    display: block;
    background-color: #C9E3E7;
    margin: 0px auto auto auto;
    padding: 40px 10px 10px 10px;
    list-style: none;
}
.meni li{
    display: inline;
    padding: 7px;
}
.meni a{
    color: #190788;
}
.aktivniTab{
    text-decoration: none;
}
.logo{
    margin: 0px;
    padding: 0px;
}
.logo img{
    height: 60px;
    width: 60px;
    margin: 0% 45% -30px 43%;
}
.sadrzaj{
    text-align: center; 
    background-color: #C9E3E7;
    max-width: 650px;
    margin: 10px auto auto auto;
}
  .forma{
    text-align: center;
    display: inline-block;
    border: none;
    margin: 10px;
}
.forma input{
    margin: 5px;
    float: right;
}
.forma input[type=checkbox]{
    float: left;
}

.forma label{
    display: block;
    margin: 5px;
    float: left;
    text-align: left;
    width: 150px;
}
.kalendar{
    text-align: center;
    border: 2px solid #190788;
    background-color:#85A2E0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 620px;
    margin: 10px;
    padding: 10px;
}
.kalendar label{
    font-weight: bolder;
    float: left;
    font-size: 15px;
    color: #190788;
}
.button{
    border: 2px solid #190788;
    color: #190788;
    background-color: #85A2E0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    float: left;
    width: 80px;
    cursor: pointer; 
}
.desni{
    float: right;
}
.button:hover{
    border: 3px solid #190788;
}
.pocisti{
clear: both;
}
.dropdown{
    position: relative;
    display: inline-block;
    height: 20px;
    width: 150px;
    background-color: #85A2E0;
    margin-top: 5px;
    color: #190788;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.mjesec{
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-columns:repeat(7, 1fr);
    grid-template-rows: 35px 60px 60px 60px 60px 60px 60px;
}
.danNaziv{
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
    border:2px solid #190788;
    text-align: center;
}
.dan{
    display: inline-block;
    margin: 5px;
}
.dan:hover{
    border: 3px solid slategray;
}
.broj{
    box-sizing: border-box;
    border: 2px solid #190788;
    height: 50%;
    background-color: whitesmoke;
    text-align: center;
}
.zauzeta{
    box-sizing: border-box;
    height: 50%;
    border-bottom: 2px solid #190788;
    border-right: 2px solid #190788;
    border-left: 2px solid #190788;
    background-color: #F74F35;
    text-align: center;
}
.slobodna{
    box-sizing: border-box;
    height: 50%;
    border-bottom: 2px solid #190788;
    border-right: 2px solid #190788;
    border-left: 2px solid #190788;
    background-color: #4DE35F;
    text-align: center;
}
.prviDan{
    grid-column-start: 5;
}
@media only screen and (max-width: 600px) {
    .meni li{
        display: block;
    }
    .mjesec{
        display: grid;
        margin: 0px;
        padding: 0px;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:60px 60px 60px 60px 60px 60px 60px;
        grid-auto-flow: column;
        text-align: center;
    }
 
    .prviDan{
        grid-row-start: 5;
        grid-column-start: unset;
    }
    .dan:nth-of-type(n+11) {
       display: none;  
      }
    .danNaziv{
        padding-top: 14px;
    }
 }


