@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");
body{
    background-color: #E3E3E3;
    margin: 0px;
    padding: 0px;
}
.meni{
    text-align: center;
    height: 25%;
    max-width: 650px;
    margin: 10px auto auto auto;
}
.meni ul{
    display: block;
    background-color: #C9E3E7;
    margin: 0px auto auto auto;
    padding: 40px 10px 10px 10px;
    list-style: none;
}
.meni li{
    display: inline;
    padding: 7px;
}
.meni a{
    color: #190788;
}
.aktivniTab{
    text-decoration: none;
}
.logo{
    margin: 0px;
    padding: 0px;
}
.logo img{
    height: 60px;
    width: 60px;
    margin: 0% 45% -30px 43%;
}
table,th,td{
    border: 2px solid #6F7070;
    border-collapse: collapse;   
}
.sadrzaj{
    text-align: center; 
    background-color: #C9E3E7;
    max-width: 650px;
    margin: 10px auto auto auto;
}
.tabelaSala {
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
    display: inline-block;
    border-collapse: collapse;
    border: none;
    font-size: 14px;
}
.sala{
    padding: 2px;
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    text-align: left;
    vertical-align: top;
    font-family: Arimo;
}
.zauzetaSala{
    background-color: #F74F35;

}
.slobodnaSala{
    background-color: #4DE35F;
}
.kancelarija{
    background: #BACCCF;
}
.headerSprat{
    font-size: 18px;
    background-color: #B3B3B3;
    border: 1px solid #808282;
    font-size: 20px;
    padding: 20px 5px 20px 10px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}
.headerRedni{
    font-size: 15px;
    background-color: #cccccc;
    border: 1px solid #B3B3B3;
    text-align: left;
    padding: 10px;
    font-family:Arimo;
}
.prazno{
    border: none;
}
.spratoviCelija{
    font-size: 15px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-family: Arimo;
}
.redniCelija{
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 5px;
}
@media only screen and (max-width: 600px) {
    .meni li{
        display: block;
    }
    .headerRedni, .headerSprat{
        display: none;
        border: none;
    }
  }