body{
    background-color: #E3E3E3;
    margin: 0px;
    padding: 0px;
}
.meni{
    max-width: 650px;
    text-align: center;
    height: 25%;
    margin: 10px auto auto auto;
}
.meni ul{
    display: block;
    background-color: #C9E3E7;
    margin: 0px auto auto auto;
    padding: 40px 10px 10px 10px;
    list-style: none;
}
.meni li{
    display: inline;
    padding: 7px;
}
.meni a{
    color: #190788;
}
.aktivniTab{
    text-decoration: none;
}
.logo{
    margin: 0px;
    padding: 0px;
}
.logo img{
    height: 60px;
    width: 60px;
    margin: 0% 45% -30px 43%;
}
.sadrzaj{
    text-align: center; 
    background-color: #C9E3E7;
    max-width: 650px;
    margin: 10px auto auto auto;
}
.forma{
    text-align: center;    
    display: inline-block;
    border: none;
    margin: 20px;
}

.forma input{
    display: inline-block;
    float: left;
    margin: 3px;
}
.forma label{
    display: inline-block;
    float: left;
    margin: 3px;
    text-align: left;
    width: 150px;
}
.forma input[type=submit]{
   clear: left;
   float: right;
   width: 75px;
   padding: 1px 5px 1px 5px;
}
@media only screen and (max-width: 600px) {
    .meni li{
        display: block;
    }
    .forma input, .forma label{
        float: none;
        display: block;
    }
  }
